@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;

  background: url("https://www.arpm.co/img/bg/bg_left_section.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

.home,
.reports,
.products,
.team,
.reports,
.modeling,
.revenue {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.collapsable {
  padding: 10px 0;
}

.toggle {
  background: #3c9591;
  padding: 10px;
  border: unset;
  cursor: pointer;
  font: unset;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 0.5rem;
}
